{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block body %}
    
    <div class="content">
        <h1 class="titleSection"><i class="fa-solid fa-basket-shopping me-3"></i> Productos</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th>Categoria(s)</th>
                    <th>Presentación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td> 
                        <img src={{ asset('uploads/products/' ~ product.photo) }} alt={{ product.name }} width="30">
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.state ? 'Activo' : 'Inactivo' }}</td>
                    <td>
                        {# {{ product.category}} #}Categoria
                    </td>
                    <td>
                        {# {{ product.presentation }}#}Presentacion
                    </td>
                    <td>
                        <a href="{{ path('app_products_show', {'id': product.id}) }}" class="btn btn-show">
                            <i class="fa-regular fa-eye"></i>
                        </a>
                        <a href="{{ path('app_products_edit', {'id': product.id}) }}" class="btn btn-edit">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No se encontraron productos</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_products_new') }}" class="btn btn-add"><i class="fa-regular fa-square-plus me-2"></i> Agregar</a>
    </div>
{% endblock %}
