{% extends 'base.html.twig' %}

{% block title %}Privacy index{% endblock %}

{% block body %}
    <h1>Privacy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for privacy in privacies %}
            <tr>
                <td>{{ privacy.id }}</td>
                <td>{{ privacy.description }}</td>
                <td>
                    <a href="{{ path('app_privacy_show', {'id': privacy.id}) }}">show</a>
                    <a href="{{ path('app_privacy_edit', {'id': privacy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_privacy_new') }}">Create new</a>
{% endblock %}
