{% extends 'base.html.twig' %}

{% block title %}Terms index{% endblock %}

{% block body %}
    <h1>Terms index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for term in terms %}
            <tr>
                <td>{{ term.id }}</td>
                <td>{{ term.description }}</td>
                <td>
                    <a href="{{ path('app_terms_show', {'id': term.id}) }}">show</a>
                    <a href="{{ path('app_terms_edit', {'id': term.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_terms_new') }}">Create new</a>
{% endblock %}
