{% extends 'base.html.twig' %}

{% block title %}Terms{% endblock %}

{% block body %}
    <h1>Terms</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ term.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ term.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_terms_index') }}">back to list</a>

    <a href="{{ path('app_terms_edit', {'id': term.id}) }}">edit</a>

    {{ include('terms/_delete_form.html.twig') }}
{% endblock %}
