{% extends 'base.html.twig' %}

{% block title %}Store index{% endblock %}

{% block body %}
    <h1>Store index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Instagram</th>
                <th>Facebook</th>
                <th>Youtube</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for store in stores %}
            <tr>
                <td>{{ store.id }}</td>
                <td>{{ store.address }}</td>
                <td>{{ store.phone }}</td>
                <td>{{ store.instagram }}</td>
                <td>{{ store.facebook }}</td>
                <td>{{ store.youtube }}</td>
                <td>
                    <a href="{{ path('app_store_show', {'id': store.id}) }}">show</a>
                    <a href="{{ path('app_store_edit', {'id': store.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_store_new') }}">Create new</a>
{% endblock %}
